# Compiler files
out/
artifacts/
cache/
lib/
broadcast/
*.json

# Node (if you use npm for tooling/scripts)
node_modules/

# Environment variables
.env
.env.*

# VSCode
.vscode/
.history/

# MacOS
.DS_Store

# Logs
*.log

# Coverage
coverage/
lcov-report/
lcov.info

# Others
*.tsbuildinfo
